<h1><%= thisUser.firstName %> <%= thisUser.lastName %></h1>
	<h2><%= thisUser.jobTitle %></h2>
	<h3><%= thisUser.email %></h3>

<h2>Articles Authored</h2>
	<ul>
	<% thisUser.articlesWritten.forEach (function (article) { %>
		<li>
			<a href="/articles/<%= article.post_id %>"><%= article.title %></a>
		</li>
<% }) %>