<h2><%= thisArticle.title %></h2>
<h4>by <a href="/user/<%= thisArticle.author._id %>"><%= thisArticle.author.name %></a>, <%= thisArticle.date.toDateString() %></h4>
<p><%= thisArticle.body %></h3>
<% if (thisArticle.edit) { %>
	<p>Most Recent Edit: <%= thisArticle.edit.editor %>, <%= thisArticle.edit.editDate.toString() %>
<% } %>
<ul>Tags:
	<% for (var i = 0; i < thisArticle.tags.length; i++) { %>
		<li>
			<a href="/articles?tag=<%= thisArticle.tags[i] %>"><%= thisArticle.tags[i] %></a>
		</li>
	<% } %>
</ul>

<a href="/articles/edit/<%= thisArticle._id %>">Edit Me!</a>
