<div class="heading">
	<h2><%= thisArticle.title %></h2>
	<h4>by <a href="/user/<%= thisArticle.author._id %>"><%= thisArticle.author.name %></a>, <%= thisArticle.date.toDateString() %></h4>
	<a href="/articles/edit/<%= thisArticle._id %>"><button>Edit Me!</button></a>

	<div class="article-body"><%= thisArticle.body %></div>
	<% if (thisArticle.edit) { %>
		<p>Most Recent Edit: <%= thisArticle.edit.editor %>, <%= thisArticle.edit.editDate.toString() %>
	<% } %>
	<hr/>
		<p>Tags:
			<% for (var i = 0; i < thisArticle.tags.length; i++) { %>
				<a href="/articles?tag=<%= thisArticle.tags[i] %>"><button><%= thisArticle.tags[i] %></button></a>
			<% } %>
		</p>
</div>
